<div class="container scrollable">
    <div class="ion-padding ion-text-center widthset">
        <img src="./../../../assets/img/logo.png" class="p-t-50">
        <div class="signup=group ion-padding-top ion-padding-bottom">
            <h4 class="text-color-white">Sign Up</h4>
            <div class="ion-text-left">
                <ion-input class="ion-margin-top input-display border-rad-20" type="email" placeholder="example@example.com"></ion-input>
                <ion-input class="ion-margin-top border-rad-20 pass" type="password" placeholder="******"></ion-input>
                <table class="ion-margin-top">
                    <tr>
                        <td class="pad-bot-8">
                            <ion-checkbox class="checkbox-dec"></ion-checkbox>
                        </td>
                        <td class="ion-padding-left text-color-white font-14 pad-left-7" style="    padding-bottom: 11px;vertical-align: middle;">
                            <ion-label >I agree to the Term of Services and Privacy Policy</ion-label>
                        </td>
                    </tr>
                </table>

            </div>
            <button class="ion-margin-top buttons border-rad-20 text-color-white" [routerLink]="['/login']">Continue</button>
        </div>
        <ion-label class="ion-padding-top text-color-white">Have an account? <span class="link" [routerLink]="['/login']">Sign in</span></ion-label>
    </div>
</div>