<div class=" select-song">
  <div class="widthset">
    <div class="ion-padding">
      <div>
        <img (click)="back()" src="./../../../assets/img/back.png" />
        <span class="floatRight">
          <img class="imgSize" src="./../../../assets/img/demo.png" />
          <span class="text-color-white"> $4.00 </span>
        </span>
      </div>
  
      <h6 class="color-dan">20$ <span class="text-color-white ml-30">Bearly Dead- Concert Schedule</span></h6>
      <ion-progress-bar class="select-progress" [value]="progress"></ion-progress-bar>
    </div>
  
      <div class="select-song-scroll mt-8">
        <div class="ion-padding">
          <ion-row class="row-dec song-border">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="opener">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row class="row-dec">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="1">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row class="row-dec">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="2">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row class="row-dec">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="3">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row class="row-dec">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="4">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
    
          <ion-row class="row-dec">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="5">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="row-dec">
            <ion-col size="5" class="padr">
                <ion-item class="select-song-item select-song-input">
                  <ion-select aria-label="song" value="encore">
                    <ion-select-option value="opener">Opener</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="encore">Encore</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="7" class="padl">
              <ion-input class="select-song-input" type="text" placeholder="song Name"></ion-input>
            </ion-col>
          </ion-row>
    
          <button class="ion-margin-top buttons border-rad-20 text-color-white" [routerLink]="['/login']">Continue</button>
        </div>
        
     
        <div class="ion-padding text-color-white" style="background: #0D0534;">
          <h3>Leaderboard</h3>
          <ion-row *ngFor="let i of leaderBoard" class="leader-row">
            <ion-col class="ma" size="3">
              <img width="50" height="50" src="../../../assets/img/demo.png" >
            </ion-col>
            <ion-col class="ma" size="6">{{i.name}}</ion-col>
            <ion-col class="ma"size="3">{{i.points}}</ion-col>
          </ion-row>
        </div>
  </div>
  
</div>